<div class="info-bar">
  <a routerLink="/dashboard" class="btn-tertiary">
    <svg class="arrow-back"><path d="M28,14H8.8l4.62-4.62C13.814,8.986,14,8.516,14,8c0-0.984-0.813-2-2-2c-0.531,0-0.994,0.193-1.38,0.58l-7.958,7.958  C2.334,14.866,2,15.271,2,16s0.279,1.08,0.646,1.447l7.974,7.973C11.006,25.807,11.469,26,12,26c1.188,0,2-1.016,2-2  c0-0.516-0.186-0.986-0.58-1.38L8.8,18H28c1.104,0,2-0.896,2-2S29.104,14,28,14z"/></svg>
  </a>
  <h3>Detail <span>{{student.name}}</span></h3>
</div>
<div *ngIf="mode | async; else detailTemplate" class="detail">
  <div class="detail-avatar">
    <img src="{{student.avatar}}" alt="">
  </div>
  <div class="detail-info">
    <div class="detail-info__individual">
      <div class="detail-info__common">
        <span class="detail-info__label">Name </span>
        <span class="detail-info__text">
            <input type="text" placeholder="{{student.name}}">
          </span>
        <span class="detail-info__label">Date of Birth</span>
        <span class="detail-info__text">
            <input type="date" placeholder="{{ student.birth }}">
          </span>
        <span class="detail-info__label">Sex</span>
        <span class="detail-info__text">
            <input type="text" placeholder="{{ student.sex }}">
          </span>
        <span class="detail-info__label">Grade</span>
        <span class="detail-info__text">
            <input type="text" placeholder="{{ student.grade }}">
          </span>
      </div>
      <div class="detail-info__contacts">
        <span class="detail-info__label">Country</span>
        <span class="detail-info__text">
            <input type="text" placeholder="{{ student.country }}">
          </span>
        <span class="detail-info__label">City</span>
        <span class="detail-info__text">
            <input type="text" placeholder="{{ student.city }}">
          </span>
        <span class="detail-info__label">Email</span>
        <span class="detail-info__text">
            <input type="email" placeholder="{{ student.email }}">
          </span>
        <span class="detail-info__label">Phone</span>
        <span class="detail-info__text">
            <input type="tel" placeholder="{{ student.phone }}">
          </span>
      </div>
    </div>
    <div class="detail-info__about">
      <span class="detail-info__label">About students: </span>
      <p><textarea name="" id="" cols="80" rows="8">{{ student.about }}</textarea>
      </p>
    </div>
  </div>
</div>
<div class="progress">
  <app-tabs>
    <app-tab *ngFor="let recordBook of student.recordBook" [tabTitle]="recordBook.period">
      <table class="table-list">
        <tr class="table-list-head">
          <th>Subjects</th>
          <th>Result</th>
        </tr>
        <tr *ngFor="let discipline of discipline(recordBook.period) | async" class="table-list-body">
          <td>{{ discipline.subject }}</td>
          <td>{{ discipline.result | textResult}}</td>
        </tr>
      </table>
    </app-tab>
  </app-tabs>
</div>
<ng-template #detailTemplate>
  <div class="detail">
    <div class="detail-avatar">
      <img src="{{student.avatar}}" alt="">
    </div>
    <div class="detail-info">
      <div class="detail-info__individual">
        <div class="detail-info__common">
          <span class="detail-info__label">Name </span>
          <span class="detail-info__text">{{student.name}}</span>
          <span class="detail-info__label">Date of Birth</span>
          <span class="detail-info__text">{{ student.birth | date }}</span>
          <span class="detail-info__label">Sex</span>
          <span class="detail-info__text">{{ student.sex }}</span>
          <span class="detail-info__label">Grade</span>
          <span class="detail-info__text">{{ student.grade }}</span>
        </div>
        <div class="detail-info__contacts">
          <span class="detail-info__label">Country</span>
          <span class="detail-info__text">{{ student.country }}</span>
          <span class="detail-info__label">City</span>
          <span class="detail-info__text">{{ student.city }}</span>
          <span class="detail-info__label">Email</span>
          <span class="detail-info__text">{{ student.email }}</span>
          <span class="detail-info__label">Phone</span>
          <span class="detail-info__text">{{ student.phone }}</span>
        </div>
      </div>
      <div class="detail-info__about">
        <span class="detail-info__label">About students: </span>
        <p>{{ student.about }}</p>
      </div>
    </div>
  </div>

</ng-template>
