<div class="search-bar">
  <label for="search"></label>
  <input id="search" class="search-input" #search type="search" placeholder="Search by name" (keyup)="applySearch(search.value)">
</div>
<div class="table">
  <div class="table-elements">
    <div class="table-elements__filter">
      <div class="form-check">
        <input #editMode id="editMode" type="checkbox" class="checkbox" (click)="changeMode(editMode.checked)" [checked]="mode | async" >
        <label for="editMode">Edit mode</label>
      </div>
    </div>
<!--    <div class="form-input">-->
<!--      <label>-->
<!--        <input required>-->
<!--        <span class="placeholder">Text Input</span>-->
<!--      </label>-->
<!--    </div>-->
    <button class="btn-default table-elements__add" routerLink="students/add"><i class="fas fa-user-plus icon"></i>Add student</button>
  </div>
  <table class="table-list">
        <tr class="table-list-head">
          <th>ID</th>
          <th class="table-list-head__sort" (click)="sort('name')">Name</th>
          <th class="table-list-head__sort" (click)="sort('email')">Email</th>
          <th class="table-list-head__sort" (click)="sort('phone')">Phone</th>
          <th class="table-list-head__sort" (click)="sort('sex')">Sex</th>
          <th class="table-list-head__sort" (click)="sort('birth')">Date of birth</th>
          <th class="table-list-head__sort" (click)="sort('country')">Country</th>
          <th class="table-list-head__sort" (click)="sort('city')">City</th>
          <th class="table-list-head__tertiary" *ngIf="mode | async">Actions</th>
        </tr>
        <tr *ngFor="let student of pageItems" class="table-list-body"
            [class.accent]="student.name.includes(selectedStudents)"
        >
          <td>{{student.id}}</td>
          <td class="table-list-body__detail"
              (click)="navigateToStudent(student._id)"
          ><img src="{{student.avatar}}" class="table-list-body__img" alt="">{{ student.name }}</td>
          <td class="table-list-body__second">{{ student.email }}</td>
          <td class="table-list-body__second">{{ student.phone }}</td>
          <td class="table-list-body__second">{{ student.sex }}</td>
          <td class="table-list-body__second">{{ student.birth | date }}</td>
          <td class="table-list-body__second">{{ student.country }}</td>
          <td class="table-list-body__second">{{ student.city }}</td>
          <td *ngIf="mode | async">
            <button class="btn-tertiary" (click)="navigateToStudent(student._id)">
              <i class="far fa-edit icon"></i>
            </button>
            <button class="btn-tertiary" routerLink="students/delete/{{student._id}}">
              <i class="fas fa-trash-alt icon"></i>
            </button>
          </td>
        </tr>
      </table>
  <div class="table-rules">
    <div class="selectdiv">
      <label>
        <select #pageSizing (click)="setPageSize(pageSizing.value)">
          <option selected> 10 </option>
          <option>15</option>
          <option>25</option>
          <option>30</option>
        </select>
      </label>
    </div>
    <div class="pagination p12">
      <ul *ngIf="page.pages && page.pages.length">
        <a class="btn-default"
           [ngClass]="{disabled:page.currentPage === 1}"
           (click)="setPage(page.currentPage - 1)"
        >
          <li>Previous</li>
        </a>
        <a *ngFor="let pager of page.pages"
           [ngClass]="{active: page.currentPage === pager }"
           (click)="setPage(pager)">
          <li>{{pager}}</li></a>
        <a class="btn-default"
           [ngClass]="{disabled:page.currentPage === page.totalPages}"
           (click)="setPage(page.currentPage + 1)"
        ><li>Next</li></a>
      </ul>
    </div>
  </div>
</div>

