.students-list{
  width: 70%;
  border-collapse: collapse;
  margin: 0 auto;
  table-layout: fixed;
  th{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  td{
    padding-left: 5px;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cccccc;
  }
  &__head{
    border-bottom: 2px solid #cccccc;
    text-align: left;
    padding-bottom: 10px;
    th{
      padding-bottom: 10px;
    }
    th:first-child{
      width: 70px;
    }
  }
  &__action{
      display: flex;
  }
  &__button{
    margin: 5px;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: transparent;
  }
  &__input{
    width: 90%;
    padding: 5px;
  }
  &__filter{
    cursor: pointer;
  }
}
.red{
  background-color: #ff6969;
  td{
    border-bottom: 1px solid #ff4a4a;
  }
  .primary{
    background-color: #f8f9fa;
    color: #000;
    border: 1px solid #f8f9fa;
  }
  .primary:hover{
    background-color: #e2e6ea;
    border: 1px solid #e2e6ea;
  }
}
.accent{
  background-color: #bfbfbf;
}
.noAccent{
  background-color: #fff;
  td{
    border-bottom: 1px solid #ccc;
  }
}
.delete{
  background-color: #dc3545;
  color: #fff;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.delete:hover{
  background-color: #d40000;
}
.primary{
  border: 1px solid #6c757d;
  color: #000;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.primary:hover{
  background-color: #6c757d;
  color: #fff;
}
.date{
  padding: 2px;
}

