@import "var";
.side-bar{
  box-shadow: 6px 0 18px rgba(0, 0, 0, 0.06);
  background-color: @white;
  height: 100vh;
  .logo{
    padding-left: 15px;
    height: 60px;
    border-bottom: 1px solid #EBEFF2;
    display: flex;
    align-items: center;
    h1{
      color: @accent-blue;
      font-size: 20px;
      margin-right: 10px;
    }
  }
  .profile {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    flex-wrap: wrap;
    &__icon{
      font-size: 20px;
      color: fade(@black, 25%);
    }
    &-avatar {
      width: 46px;
      height: 46px;
      img{
        border-radius: 50%;
        width: 46px;
        height: 46px;
      }
    }
    &-info{
      &__name{
        color: @black;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        line-height: 21px;
        display: block;
      }
      &__email{
        color: @gray;
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 0.01em;
      }
    }
    &-content {
      display: flex;
      width: 100%;
      border-top: 1px solid fade(@black, 10%);
      margin-top: 10px;
      &__icon{
        color: fade(@black, 25%);
        margin-right: 10px;
        font-weight: normal;
        font-size: 14px;
      }
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        li{
          padding: 10px 20px;
          display: flex;
          &:hover{
            background-color: fade(@black, 5%);
          }
          a{
            display: block;
            font-size: 13px;
            color: #334D6E;
          }
        }
      }
    }
  }
  .menu{
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    &-list{
      width: 100%;
      &__item{
        display: flex;
        height: 100%;
        padding: 10px 20px;
        a{
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 19px;
          letter-spacing: 0.01em;
          color: @dark-blue-text;
          display: block;
        }
        .icon{
          margin-right: 10px;
          color: fade(@black, 25%);
          font-size: 16px;
          vertical-align: top;
        }
      }
    }
  }
}
