<div class="side-bar">
  <div class="logo">
    <a href="/"><h1>SaaS Kit</h1></a> <small>{{ editMode | async | textLabelMode }}</small>
  </div>
  <div class="profile" *ngIf="dataLoaded">
    <div class="profile-avatar">
      <img src="https://backend-students.herokuapp.com/students{{ user.avatar }}" alt="">
    </div>
    <div class="profile-info">
      <span class="profile-info__name">{{ user.name }}</span>
      <span class="profile-info__email">{{user.email}}</span>
    </div>
    <i class="fas fa-sort-down profile__icon" (click)="changeShow()"></i>
    <div class="profile-content" *ngIf="showContent">
      <ul>
        <li><i class="fas fa-sliders-h profile-content__icon"></i><a class="btn-tertiary">Settings</a></li>
        <li (click)="logOut()"><i class="fas fa-sign-out-alt profile-content__icon"></i><a class="btn-tertiary">Log out</a></li>
      </ul>
    </div>
  </div>
  <div class="menu">
    <ul class="menu-list">
      <li class="menu-list__item">
        <a routerLink="/dashboard"><i class="fas fa-table icon"></i>Student list</a>
      </li>
    </ul>
  </div>
</div>
