<div class="welcome">
  <h2>Student monitoring</h2>
  <form class="login-form" [formGroup]="authForm" (ngSubmit)="submitForm()" novalidate>
    <div class="form-input">
              <label>
                <input type="text" formControlName="email" required>
                <span class="placeholder">E-mail</span>
              </label>
            </div>
    <div class="form-input">
              <label>
                <input type="password" formControlName="password" required>
                <span class="placeholder">Password</span>
              </label>
            </div>
    <button class="btn-default" type="submit"> Login </button>
  </form>
</div>
