<div class="modal visible">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{titleModal}}</h3>
        <a title="Close" class="close" routerLink="/">×</a>
      </div>
      <div class="modal-body">
        <form *ngIf="!confirm; else confirmTemplate" class="form-group" novalidate [formGroup]="formStudent" (ngSubmit)="submitForm()">
          <h4>Name</h4>
          <div class="form-group__name" formGroupName="name">
            <div class="form-input">
              <label>
                <input type="text" formControlName="firstName" required>
                <span class="placeholder">First Name</span>
              </label>
            </div>
            <div class="form-input">
              <label>
                <input type="text" formControlName="lastName" required>
                <span class="placeholder">Last Name</span>
              </label>
              <span class="tooltip-text" *ngIf="isControlInvalid('name.lastName')">
                  Last name is required
              </span>
            </div>
          </div>
          <h4>Contact information</h4>
          <div class="form-group__contact">
            <div class="form-input">
              <label>
                <input type="email" formControlName="email" required>
                <span class="placeholder">Email </span>
              </label>
              <span class="tooltip-text" *ngIf="isControlInvalid('email')">
                  Email is required
              </span>
            </div>
            <div class="form-input">
              <label>
                <input type="tel" formControlName="phone" required>
                <span class="placeholder">Phone</span>
              </label>
              <span class="tooltip-text" *ngIf="isControlInvalid('phone')">
                  Phone is required
              </span>
            </div>
            <div class="form-input">
              <label>
                <input type="text" formControlName="country" required>
                <span class="placeholder">Country</span>
              </label>
              <span class="tooltip-text" *ngIf="isControlInvalid('country')">
                  Country is required
              </span>
            </div>
            <div class="form-input">
            <label>
              <input type="text" formControlName="city" required>
              <span class="placeholder">City</span>
            </label>
              <span class="tooltip-text" *ngIf="isControlInvalid('city')">
                  City is required
              </span>
          </div>
            <div class="form-input">
              <label>
                <input type="text"
                       onfocus="(this.type='date')"
                       onblur="if(!this.value)this.type='text'"
                       formControlName="birth"
                       required>
                <span class="placeholder">Date of birth</span>
              </label>
              <span class="tooltip-text" *ngIf="isControlInvalid('birth')">
                  Birth is required
              </span>
            </div>
            <div class="form-input">
              <label>
                <input type="number" min="1" max="11" formControlName="grade" required>
                <span class="placeholder">Grade</span>
              </label>
              <span class="tooltip-text" *ngIf="isControlInvalid('grade')">
                  Birth is required
              </span>
            </div>
          </div>
          <div>
            <label>
              <select class="select" formControlName="sex">
                <option selected> Sex </option>
                <option>Male</option>
                <option>Female</option>
              </select>
            </label>
          </div>
          <div class="form-group__about">
            <div class="form-input">
              <label>
                <textarea formControlName="about" required></textarea>
                <span class="placeholder">About</span>
              </label>
            </div>
          </div>
          <div class="form-group__file">
            <h4>Upload photo</h4>
            <input style="display: none" #fileInput type="file" (change)="onFileSelected(fileInput.files)">
            <button type="button" (click)="fileInput.click()">Pick File</button>
          </div>
          <img class="form-group__photo" src="{{imagePath}}" alt="">
          <button type="submit" class="btn-default submit">Create</button>
        </form>
        <ng-template #confirmTemplate>
          <p>Are you sure you want to delete?</p>
          <button class="btn-secondary btn-delete" (click)="delete()">Yes</button><button class="btn-secondary" routerLink="/">Cancel</button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
