@import "styles/reset";
@import "styles/var";


body{
  font-family: @font-family, sans-serif;
  font-weight: normal;
  font-size: @font-size;
}

app-welcome {
  width: 100%;
}
p{
  margin: 5px 0;
}
.table-list {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  background-color: @white;
  width: 100%;
  border-radius: 4px;
  border-collapse: collapse;
  th,td {
    width: 20%;
    padding: 10px;
    border-bottom: 1px solid #EBEFF2;
  }
  th,td:first-child {width: 5%;}
  th,td:last-child {width: 10%;}
  &-head {
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: @dark-blue-text;
    opacity: 0.5;
    text-align: left;
    &__sort{
      cursor: pointer;
      &:hover{
        color: @accent-blue;
      }
    }
  }
  &-body {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: @table-black;
    &:hover{
      background-color: fade(@table-gray, 10%);
    }
    &__detail{
      cursor: pointer;
      &:hover{
        color: #34AFF9;
      }
    }
    &__second{
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 19px;
      letter-spacing: 0.01em;
      color: @table-gray;
    }
  }
}
/* Buttons */
 button {
   border: none;
   background-color: transparent;
   letter-spacing: 0.01em;
   font-size: 14px;
   font-weight: 500;
   text-align: center;
   padding: 10px 40px;
   border-radius: 4px;
   box-sizing: border-box;
 }
.btn-default {
    background-color: @accent-blue;
    box-shadow: 0 4px 10px rgba(16, 156, 241, 0.24);
    color: @white;
    &:hover {
      background: #34AFF9;
      box-shadow: 0 8px 16px rgba(52, 175, 249, 0.2);
    }
    &:focus {
      background: #098EDF;
      box-shadow: 0 2px 6px rgba(9, 142, 223, 0.3);
    }
    &:disabled {
      background: #C2CFE0;
      color: rgba(255, 255, 255, 0.8);
      box-shadow: none;

    }
  }
.btn-secondary {
    color: @accent-blue;
    border: 1px solid @accent-blue;
    &:hover{
      color: #34AFF9;
      border: 1px solid #34AFF9;
    }
    &:focus{
      color: #098EDF;
      border: 1px solid #098EDF;
    }
    &:disabled{
      color: @icon-gray;
      border: 1px solid @icon-gray;
    }
  }
.btn-tertiary{
    color: @accent-blue;
    &:hover{
      color: #34AFF9;
    }
    &:focus{
      color: #098EDF;
    }
    &:disabled{
      opacity: 0.4;
    }
  }

.arrow-back{
  width: 28px;
  height: 28px;
  fill: @accent-blue;
  vertical-align: text-bottom;
  &:hover{
    fill: #34AFF9;
  }
  &:focus{
    fill: #098EDF;
  }
  &:disabled{
    opacity: 0.4;
  }
}

/* inputs */
.form-group {
  position: relative;
  margin-bottom: 30px;
}
input {
  font-size: 13px;
  color: @table-black;
  padding: 10px;
  display: block;
  border: none;
  background-color: transparent;
  &:invalid{
    border-bottom: 1px solid #D3D8DD;
    color: fade(@table-black, 50%);
  }
  &:focus {
    outline: none;
  }
}
label {
  color: #818E9B;
  font-weight: 500;
  font-size: 12px;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 15px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
/* active state */
input:focus ~ label, input:valid ~ label {
  top: -15px;
  font-size: 14px;
  color: @accent-blue;
}
.bar {
  position: relative;
  display: block;
  width: 250px;
}
.bar:before, .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #818E9B;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 47%;
}
/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

