<h1 class="title">Students table</h1>
<table class="students-list">
  <tr class="students-list__head">
    <th sorting="id" [students]="this.students">ID
      <span class="unvisibility">&#9650;</span>
      <span class="unvisibility">&#9660;</span>
    </th>
    <th sorting="firstName" [students]="this.students">First name
      <span class="unvisibility">&#9650;</span>
      <span class="unvisibility">&#9660;</span>
    </th>
    <th sorting="lastName" [students]="this.students">Last name
      <span class="unvisibility">&#9650;</span>
      <span class="unvisibility">&#9660;</span>
    </th>
    <th sorting="middleName" [students]="this.students">Middle name
      <span class="unvisibility">&#9650;</span>
      <span class="unvisibility">&#9660;</span>
    </th>
    <th sorting="birth" [students]="this.students">Date of Birth
      <span class="unvisibility">&#9650;</span>
      <span class="unvisibility">&#9660;</span>
    </th>
    <th sorting="score" [students]="this.students">Average score
      <span class="unvisibility">&#9650;</span>
      <span class="unvisibility">&#9660;</span>
    </th>
    <th>Action</th>
  </tr>
  <tr>
    <th><button class="students-list__button primary" (click)="addStudent()">Add</button></th>
    <th><label>
      <input #search class="students-list__input" type="text" placeholder="Search by name" (keyup)="applySearch(search.value)">
    </label></th>
    <th></th>
    <th></th>
    <th><label>
      <input class="students-list__input date" type="date" (keyup.enter)="dateFilter()" [(ngModel)]="valueDate">
    </label></th>
    <th><label>
      <input class="students-list__input" type="number" min="1" max="5" placeholder="Filter by score"  [(ngModel)]="valueScore" (keyup)="scoreFilter()">
    </label></th>
    <th class="students-list__action">
      <button class="students-list__button primary" (click)="resetFilter()">ResetFilter</button>
      <button class="students-list__button primary" (click)="accentuation(isAccent)">Accent {{isAccent ? "On" : "Off"}}</button>
    </th>
  </tr>
  <tr *ngFor="let student of students" [ngClass]="{red: student.score < 3, noAccent: isAccent}" [class.accent]="student.firstName === selectedStudents">
    <td>{{ student.id }}</td>
    <td>{{ student.firstName }}</td>
    <td>{{ student.lastName }}</td>
    <td>{{ student.middleName }}</td>
    <td>{{ student.birth | date }}</td>
    <td>{{ student.score }}</td>
    <td>
      <button class="students-list__button primary" (click)="editStudent(student._id)">Edit</button>
      <button class="students-list__button delete" (click)="deleteStudent(student._id)">Delete</button>
    </td>
  </tr>
</table>
<router-outlet (deactivate)="actions($event)"></router-outlet>
